.menu__open-wrap {
	height: 70px;
	width: 70px;
	padding: 20px;
	position: relative;
	display: flex;
	align-items: center;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		height: 50px;
		width: 2px;
		margin: auto;
		display: block;
		background-color: rgba(206, 206, 206, 0.15);

	}
}

.menu__open-btn {
	width: 100%;
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: 0;

	@include hover {
		&:hover {
			.menu__open-line:before {
				width: 100%;
			}
		}
	}
}

.menu__open-line {
	position: relative;
	display: block;
	width: 100%;
	height: 3px;
	margin-bottom: 5px;
	background: var(--light-color);
	transition: .3s;
	will-change: transform;

	&:last-child {
		margin: 0;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		background: var(--brand-color);
		transition: width .3s;
	}

	&:nth-child(2):before {
		transition-delay: .1s;
	}

	&:nth-child(3):before {
		transition-delay: .2s;
	}
}
