.top-panel {
	position: sticky;
	top: 0;
	height: 70px;
	background: #191919;
	padding: 15px;

	&:before {
		content: '';
		position: absolute;
		height: 50px;
		width: 2px;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: hsla(0, 0%, 81%, .15);
	}
}

.top-panel__desc {
	height: 100%;
}

.top-panel__btn {
	display: inline-flex;
	align-items: center;
	height: 100%;
	padding: 0 20px;
	background-color: var(--brand-color);
	font-size: 14px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
	cursor: pointer;
}
